= form_tag searches_path, method: "post", :html => { :class => 'form-horizontal' } do
  .control-group
    = label_tag :query,"Search for ..." ,:class => 'control-label'
    .controls
      =text_field_tag :query, nil,  :class => 'text_field'
  .form-actions
    = submit_tag nil, :class => 'btn btn-primary'
