%h2
  Products
-unless @product_results.empty?
  =render :partial => 'searches/products',:products => @product_results
%h2
  Companies
-unless @company_results.empty?
  =render :partial => 'searches/companies',:companies => @company_results