%h2
  =@product.name

%h2
  Ovierview
%p
  =@product.overview.html_safe
%h2
  Crunch base URL
%p
  =link_to nil,@product.crunch_base_url
%p
  =image_tag @product.img_max_url
%h2
  Milestones
%table.table.table-striped
  %tr
    %th
      Description
    %th
      Stoned date
    %th
      Source description
    %th
      Source url
  -@product.milestones.each do |element|
    %tr
      %td
        =element["description"]
      %td
        ="#{element["stoned_year"]}-#{element["stoned_month"]}-#{element["stoned_day"]}"
      %td
        =element["source_description"]
      %td
        =element["source_url"]